*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(90deg, #cf0063,purple);
    width: 100vw;
    height: 100vh;
}
.logo{
    background-image: url(richard.png);
background-position: center;
background-size: cover;
display: flexbox;
width: 14vw;
height: 10vh;
margin-top: 1%;
position: absolute;
margin-left: 2%;
}
.nav ul{
    text-align: right;
}
.nav{
    text-align: right;
}
.nav li{
    display: inline-block;
    list-style: none;
    margin: 2% 2%;
}
.nav li a{
    text-decoration: none;
    padding: 2px 3px;
    color: white;
    font-family: 'ubuntu',sans-serif;
    font-weight: bold;
}
.grid-box{
    display: grid;
    grid-template-columns: 420px;
    grid-template-rows: repeat(3,70px);
    gap: 5px;
    margin: 15% auto 0 12%;
}
.grid1-box{
   
    /* display: grid; */
    background-image: url('phone.png');
    width: 40vw;
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    margin-top: -26%;
    margin-left: 60%;
    list-style: none;
}

.box-item p{
    font-family: 'ubuntu',sans-serif;
    color: white;
}
.b1{
    font-size: 3.7rem;
    font-weight: 900;
  
}
.b2{
    font-size: 1.4rem;
    padding-top: 1.7%;
}
#button{
    margin: 1% 0%;
    padding: 4.2% 6%;
    background-color: #cf0063;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'ubuntu',sans-serif;
    color: white;
    font-weight: 400;
}
#button:hover{
  border: 2px grey;
  box-shadow: inset 0px 0px 8px black;
  border-radius: 9px;
}
.container1{
    background-color: rgb(28, 28, 28);
    width: 100vw;
    height: 35vh;
}
.grid-box1{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 50px 90px;
    text-align: center;
    margin: 5% 30%;
    position: absolute;
}
.box1-item{
    /* border: 2px solid white; */
    font-family: 'ubuntu',sans-serif;
    color: white;
}
.p1{
    font-size: 0.8rem;
    
    padding-top: 2% ;
}
.p2{
    font-size: 2.2rem;
    padding-top: 1.7%; 
    font-weight: bold;  
}
.grid-big{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 30vh 80vh 40vh 45vh 70vh 70vh 70vh 70vh 95vh;
}
.grid-big>*{
    background-color: white;
    border: 2px solid black;
}
.q1{
    display: grid;
    position: absolute;
    grid-template-columns: 500px 500px;
    grid-template-rows: 70vh;
    margin-top: 5%;
    margin-left: 20%;
    gap: 20px;
}
.q1-grid{
  
    /* border: 2px solid black; */
}
.chaumin{
    background-image: url('chaumin.png');
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 70vh;
    border-radius: 22px;
    overflow: hidden;
}



.q9{
 background-image: linear-gradient(90deg, #cf0063,purple);
}
.q9-grid1{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 50px;
    /* border: 1px solid white; */
    margin-top: 15%;

    margin-left: 30%;
}
.q9-grid2{
    display: grid;
    margin-top: 4%;
    margin-left: 30%;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px;
}
#name1{
    font-size: 30px;
    padding: 5px 3px;
    color:black;
    padding: 10px 3px;
}

#name2 {
    background-color: #cf0063;
    font-size: 30px;
    color: white;
    padding: 12px 5px;
    border-radius: 0px 6px 6px 0px;
    border: none;
}
.q9-grid1 p{
    font-size: 2.7rem;
    color: white;
    font-weight: bold;

}
.q10{
    background-color: black;
}
.grid-up{
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 80px 50px 150px 140px;
    text-align: center;
    margin: 15%;
}
.grid-up>*{
  /* border: 2px solid white; */
}
.last-grid p{
    color: white;
 }
.v1{
    font-size: 3.4rem;
    font-weight: bold;
    font-family: 'ubuntu',sans-serif;
}
.v2{
    padding-top: 1.2%;
    font-size: 1.1rem;
}
.v3{
    margin-top: 4%;
}
#name{
    padding: 3% 6%;
    border-radius: 6px 0px 0px 6px;
    border: none;
}
#submit{
    margin-top: 4%;
    padding: 3% 4%;
    background-color: #cf0063;
    border-radius: 0px 6px 6px 0px;
    color: white;
    font-size: 0.9rem;
    border: none;
}
.v4{
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 80px;
}
.footer ul{
   text-align: center; 
   margin-top: 1%;
}
.footer li{
    display: inline-block;
    margin: 1% 2%;
    list-style: none;
}
.footer li a{
    text-decoration: none;
    padding: 2px 3px;
    color: white;
}